version: '3.8'

services:
  nextjs:
    build:
      context: ./frontend
      dockerfile: Dockerfile.next
    ports:
      - "3000:3000"
    depends_on:
      - fastapi
    networks:
      - fx-terminal-network

  fastapi:
    build:
      context: ./backend
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
      - "8765:8765"
    env_file:
      - ./.env
    depends_on:
      - redis
      - postgres
    networks:
      - fx-terminal-network

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      - fx-terminal-network

  postgres:
    image: "postgres:13-alpine"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - fx-terminal-network

networks:
  fx-terminal-network:
    driver: bridge

volumes:
  postgres_data:
